* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", serif;
  background-color: rgb(254, 250, 247);
}
header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  // top header-----------------------------
  div.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b7f7f;
    color: white;
    padding: 10px 80px;
    div.left {
      display: flex;
      align-items: center;
      i,
      a {
        color: white;
        font-size: 1rem;
        margin-right: 1.5rem;
        text-decoration: none;
      }
      @media screen and (max-width: 450px) {
        i,
        a {
          font-size: 0.75rem;
        }
      }
    }
    div.right {
      // 語言選擇
      div.languageBtn {
        .default {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            font-size: 1rem;
            margin-right: 0.5rem;
          }
        }
      }
      // 語言選單(點擊後顯示)
      div.language {
        position: fixed;
        right: 60px;
        top: 0px; //預設往上隱藏
        background-color: #f7f7f7;
        a {
          text-decoration: none;
          color: black;
          padding: 0.5rem 45px;
        }
      }
    }
  }
  // main header----------------------------
  div.main_header {
    display: flex;
    // flex: 2 8;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: black;
    padding: 30px 80px;
    div.left {
      display: flex;
      align-items: center;
      //   菜單按鈕
      div.menu {
        width: 40px;
        height: 24px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        span.line {
          position: absolute;
          width: 100%;
          height: 2px;
          background: black;
          transition: 0.5s ease-in-out;
        }
        span.line::before {
          content: "";
          position: absolute;
          width: 50%;
          height: 1.5px;
          background: black;
          top: -10px;
          left: 0;
          transition: 0.5s ease-in-out;
        }
        span.line::after {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          background: black;
          top: 10px;
          right: 0;
          transition: 0.5s ease-in-out;
        }

        //hover效果
        &:hover span.line {
          &::before,
          &::after {
            width: 100%;
          }
        }
      }
      //   logo
      div.logo {
        margin-left: 80px;
        a {
          display: block;
          width: 180px;
          height: 35px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        //RWD========================================
        @media screen and (max-width: 580px) {
          margin-left: 40px;
        }
      }
    }
    div.right {
      display: flex;
      align-items: center;
      // 主選單
      nav {
        ul {
          display: flex;
          list-style: none;
          li {
            margin-right: 1.5rem;
            a {
              text-decoration: none;
              color: black;
              font-size: 1rem;
            }
            //下划線
            div.line_area {
              margin-top: 0.25rem;
              position: relative;
              width: 100%;
              height: 2px;
              div.line {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 0%;
                height: 100%;
                background: #cb9d70;
                transition: 0.5s ease-in-out;
              }
            }
            //hover效果
            &:hover {
              div.line_area {
                div.line {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      //   訂房按鈕
      button.bookingBtn {
        background-color: #8b7f7f;
        color: white;
        border: none;
        padding: 0.75rem 4rem;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
        margin-left: 1rem;
        &:hover {
          background-color: white;
          color: black;
          outline: black 1px solid;
        }
      }
    }
  }
}
main {
  // banner-------------------------------
  section.banner {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // 訂房區塊-------------------------------
  section.booking_area {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-around;
    form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem 0;
      font-family: "Montserrat", "Microsoft JhengHei", sans-serif;

      // 住房日期
      .booking_date {
        display: flex;
        border-right: 1px solid gray;

        // 標題
        label {
          span {
            color: gray;
          }
        }
        .check_in,
        .check_out {
          display: flex;
          flex-direction: column;
          padding: 0 2rem;

          .choose_date {
            display: flex;
            align-items: center;
            position: relative;

            p {
              font-size: 2rem;
              margin-right: 3rem;
            }
            i {
              cursor: pointer;
            }
          }
          //隱藏原生 date input
          .choose_date input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            //改變位置
            top: 0;
          }
        }
      }

      // 人數與房數
      .booking_people,
      .booking_room {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        &.booking_people {
          border-right: 1px solid gray;
        }

        .choose_people,
        .choose_room {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 2rem;
          }
          i {
            cursor: pointer;
          }
        }
      }

      // 訂房按鈕
      .bookingBtn {
        background-color: white;
        color: black;
        border: none;
        padding: 0.75rem 4rem;
        cursor: pointer;
        transition: 0.5s;
        outline: 1px solid black;
        margin-left: 1rem;
      }

      div.booking_select {
        display: flex;
      }
    }
    //RWD================================

    @media screen and (max-width: 455px) {
      form {
        padding: 1rem;
        //訂房選擇區
        .booking_select {
          // 住房日期
          .booking_date {
            .check_in,
            .check_out {
              padding: 0 5px;
            }
          }
          // 人數與房數
          .booking_people,
          .booking_room {
            padding: 0 5px;
            border-right: none;
          }
        }
        // 訂房按鈕
        .bookingBtn {
          width: 90%;
          margin: 0;
        }
      }
    }

    @media screen and (max-width: 580px) {
      form {
        //訂房選擇區
        .booking_select {
          // 標題
          label {
            margin-bottom: 0.5rem;
          }
          // 住房日期
          .booking_date {
            .check_in,
            .check_out {
              .choose_date {
                border-bottom: #cacaca 1px solid;
                p {
                  font-size: 1.25rem;
                  margin-right: 0;
                }
              }
            }
          }
          // 人數與房數
          .booking_people,
          .booking_room {
            border-right: none;
            .choose_people,
            .choose_room {
              border-bottom: #cacaca 1px solid;
              p {
                font-size: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
  //輪播區塊-------------------------------
  section.carousel_area {
    transform: scale(0.9);
    // 文字標題區
    div.title {
      text-align: center;
      p {
        padding: 150px 0;
        color: #5c5c5c;
      }
      .title2 {
        position: relative;
        width: 100vw;
        padding-bottom: 100px;
        overflow: hidden;
        //漸變文字區
        .title_gradient {
          position: relative;
          h1 {
            font-family: Times, "Times New Roman", Georgia, serif;
            color: #f6ece3;
            font-size: calc(100vw / 25 * 1.35);
          }
          div.gradient {
            width: 100%;
            height: 100px;
            background-color: rgb(254, 250, 247);
            position: absolute;
            top: 0;
            right: -100%;
          }
        }
        h2 {
          font-size: 3rem;
          letter-spacing: 0.25rem;
          font-weight: 500;
          position: absolute;
          top: calc(100vw / 25 * 1.35 / 2);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      //RWD===================================

      @media screen and (max-width: 580px) {
        p {
          padding: 50px 0;
        }
      }

      @media screen and (max-width: 950px) {
        .title2 {
          h1 {
            font-size: 3rem;
          }
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }
    // 輪播圖
    div.carousel_container {
      max-width: 100vw;
      position: relative;
      overflow: hidden;

      .carousel::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
      }

      //   輪播項目區
      div.carousel {
        display: flex;
        align-items: center;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */

        // 每一個輪播項目
        article.carousel_item {
          margin: 0 1.5rem;
          scroll-snap-align: start;
          width: 100%;

          &:first-child {
            padding-left: 3rem;
          }
          &:last-child {
            padding-right: 3rem;
          }

          //圖片
          figure {
            width: 100%;
            height: 550px;
            overflow: hidden;
            img {
              transition: 0.5s ease-in-out;
              &:hover {
                transform: scale(1.1);
                filter: brightness(0.7); //圖片變暗
              }
            }
          }
          div.carousel_text {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            div.line_area {
              width: 1.5rem;
              height: 2px;
              margin: 0 0.75rem;
              display: flex;
              align-items: center;
              span.line {
                display: inline-block;
                width: 70%;
                height: 100%;
                background: #cb9d70;
                transition: 0.5s ease-in-out;
              }
            }
            p {
              font-size: 1.25rem;
              font-weight: 400;
              letter-spacing: 0.05rem;
              transition: 0.5s ease-in-out;
            }
          }
        }
        //hover效果
        article.carousel_item {
          //直屬選擇器 A:hover > B
          &:hover > div.carousel_text {
            p {
              color: #cb9d70;
            }
            div.line_area {
              span.line {
                width: 100%;
              }
            }
          }
        }
        @media screen and (max-width: 450px) {
          transform: scale(0.8);

          article.carousel_item {
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
      //   輪播scrollbar
      div.scrollbar {
        margin-top: 100px;
        width: 90vw;
        height: 4px;
        background: #ddd;
        //置中
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        .scrollbar-thumb {
          width: calc(100% / 6 * 4);
          height: 100%;
          background: #333;
          transition: left 0.1s ease-out;
        }
      }
    }
  }
  //房型展示-------------------------------
  section.room_area {
    margin: 150px 0;
    position: relative;
    a.room_img_link {
      position: relative;
      text-decoration: none;
      cursor: pointer;
      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
      }
    }
    h4 {
      text-align: center;
      margin-top: 2rem;
      font-weight: normal;
      font-size: 1.5rem;
    }
    a.more_room {
      margin-top: 1.75rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      text-decoration: none;
      cursor: pointer;
      p {
        color: rgb(74, 74, 74);
        transition: 0.5s;
        padding: 0.25rem 0;
        border-bottom: #000000 1px solid;
        &:hover {
          color: #000000;
        }
      }
    }
  }
  //設施展示-------------------------------
  section.facility_area {
    margin: 150px 0;
    display: flex;
    justify-content: space-around;
    padding: 0 80px;
    a.facility_item {
      width: 380px;
      height: 100%;
      text-decoration: none;
      padding: 0 1rem;
      //圖片
      figure {
        height: 420px;
        overflow: hidden;
        img {
          min-width: 289px;
          width: 100%;
          height: 100%;
          transition: 0.5s ease-in-out;
          &:hover {
            transform: scale(1.1);
            filter: brightness(0.7); //圖片變暗
          }
        }
      }
      h3 {
        transition: 0.5s ease-in-out;
        margin: 1.5rem 0;
        font-weight: normal;
        font-size: 1.25rem;
        text-align: center;
        color: black;
      }
      div.line_area {
        border-top: 1px solid #e0e0e0;
        display: flex;
        justify-content: center;
        .line {
          width: 3rem;
          height: 3px;
          background: #cb9d70;
        }
      }
      p {
        margin-top: 1rem;
        color: rgb(101, 101, 101);
        font-weight: 350;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        line-height: 1.75rem;
      }
      div.more {
        display: inline-block;
        p {
          padding: 0.15rem 0;
          border-bottom: #333 1px solid;
          transition: 0.5s ease-in-out;
          &:hover {
            color: #000000;
          }
        }
      }
    }
    //hover效果
    a.facility_item {
      //直屬選擇器 A:hover > B
      &:hover > h3 {
        color: #cb9d70;
      }
    }
    //RWD===================================
    @media screen and (max-width: 950px) {
      flex-direction: column;
      position: relative;
      a.facility_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        position: relative;

        div.line_area {
          width: 380px;
        }
        p {
          width: 380px;
        }
        div.more {
          width: 380px;
          margin-top: 1rem;
          p {
            display: inline;
          }
        }
      }
    }
  }
  //策畫行程-------------------------------
  section.journey_area {
    padding-bottom: 150px;
    // 背景圖
    background-image: url("../../img/travel_BG.png");
    background-repeat: no-repeat; /* 禁止背景圖片重複 */
    background-position: bottom;
    // 標題
    div.title_area {
      text-align: center;
      padding: 130px 0 90px 0;
      p {
        font-family: "Times New Roman", Times, serif;
        color: #d7a070;
      }
      h1 {
        font-size: 3rem;
      }
    }
    // 行程區
    div.journey_container {
      padding-bottom: 100px;
      position: relative;
      div.journey_area {
        // 項目區
        div.journey {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: 90vw;
          height: 500px;
          display: flex;
          align-items: center; //垂直置中(hover從中間展開)
          justify-content: center;
          transition: 0.5s ease-in-out;
          overflow: hidden;

          // 每一個項目
          article.journey_item {
            position: relative;
            overflow: hidden;
            height: 430px;
            margin: 0 1.5rem;
            min-width: 290px;

            // 圖片
            a {
              img {
                width: 350px;
                height: 500px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            // 文字
            div.journey_text {
              position: absolute;
              bottom: 0;
              color: white;
              padding: 1.75rem 1.5rem;
              div.text_top {
                i {
                  margin-right: 0.5rem;
                }
              }
              h4 {
                font-size: 1.25rem;
                margin-top: 0.25rem;
              }
            }

            transition: 0.5s ease-in-out;
            // 滑鼠移入效果
            &:hover {
              height: 500px;
            }
          }
        }
      }
      //輪播按鈕 RWD
      div.journey_btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98vw;
        display: flex;
        justify-content: space-between;

        button {
          background-color: transparent;
          color: rgb(95, 95, 95);
          border: none;
          padding: 0.75rem 2rem;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          outline: none;
          &:hover {
            color: black;
          }
          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
footer {
  background: url("../../img/footer_BG.jpg");
  // background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80px;
  //公司資訊-------------------------------
  section.information_area {
    border-bottom: #565656 1px solid;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    img {
      padding: 0 20px;
    }
    div.information {
      color: rgb(104, 104, 104);
      padding-right: 20vw;
      p {
        padding: 0.5rem 0;
      }
    }
    a {
      color: white;
    }
    //RWD===================================
    @media screen and (max-width: 1050px) {
      padding: 0;
      padding-bottom: 40px;
      flex-direction: column;
      align-items: center;
      div.information {
        margin: 20px 0;
        padding: 0;
        text-align: center;
      }
    }
  }
  //導覽nav--------------------------------
  section.nav_area {
    padding: 80px 0 100px 0;
    border-bottom: #565656 1px solid;
    nav {
      ul.nav {
        display: flex;
        justify-content: space-between;
        li.nav_list {
          list-style: none;
          a.nav_title {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            letter-spacing: 0.15rem;
            transition: 0.4s ease-in-out;
            &:hover {
              color: #cb9d70;
            }
          }
          ul {
            margin-top: 1rem;
            li {
              list-style: none;
              a {
                color: rgb(118, 118, 118);
                text-decoration: none;
                display: block;
                padding: 0.25rem 0;
                font-size: small;
                transition: 0.3s ease-in-out;
                &:hover {
                  color: #ffffff;
                }
                &::before {
                  content: "- ";
                  margin-right: 0.25rem;
                }
              }
            }
          }
        }
      }
    }
    //RWD===================================
    @media screen and (max-width: 1050px) {
      nav {
        ul.nav {
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
          li.nav_list {
            margin: 0 20px;
          }
        }
      }
    }
  }
  //隱私權政策-----------------------------
  section.privacy_area {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a,
    p {
      color: rgb(104, 104, 104);
      text-decoration: none;
      transition: 0.3s ease-in-out;
    }
    a:hover {
      color: #ffffff;
    }
  }
}

// 菜單展開-----------------------------------------------
main.menu {
  position: fixed;
  top: 0;
  z-index: 100;
  right: -100%;
  .menu_container {
    width: 98.9vw;
    height: 100vh;
    padding: 50px;
    // 背景圖
    background: url("../../img/slideMenu_BG.jpg");
    background-repeat: no-repeat;
    background-size: 110% 100%;
    background-position: left;

    //上方按鈕-------------------------------
    .top_btn_area {
      display: flex;
      justify-content: space-between;
      position: relative;
      .left {
        display: flex;
        //關閉按鈕
        .closeBtn {
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          span {
            font-size: 0.75rem;
          }
          i {
            font-size: 2rem;
            margin-left: 1rem;
          }
          &:hover {
            color: #cb9d70;
          }
        }
        //logo (RWD手機顯示)
        .logo {
          display: none;
          margin-left: 80px;
          a {
            display: block;
            width: 180px;
            height: 35px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      //語言切換
      .languageBtn {
        // 預設顯示
        .default {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            font-size: 1rem;
            margin-right: 0.5rem;
          }
        }
        //點擊後顯示
        .language {
          display: none;
          position: absolute;
          right: -20px;
          top: 0px; //預設往上隱藏
          background-color: #f7f7f7;
          a {
            text-decoration: none;
            color: black;
            padding: 0.5rem 45px;
          }
        }
      }
    }
    //主選單---------------------------------
    main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70vh;
      padding: 50px;
      // 主選單 標題-------
      nav.menu_title {
        width: 30%;
        ol {
          list-style: none;
          display: flex;
          flex-direction: column;
          height: 100%;
          li {
            margin: 0.25rem 0;
            width: 100%;
            span {
              display: inline-block;
              width: 30px;
              text-align: center;
              font-family: serif;
            }
            a {
              text-decoration: none;
              color: black;
              font-size: 1.25rem;
              transition: 0.3s ease-in-out;
              padding: 0 3rem;
            }
            //hover效果
            &:hover {
              a {
                color: #cb9d70;
              }
            }
          }
        }
      }
      // 主選單 顯示資訊-------
      nav.menu_info {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        ol {
          list-style: none;
          li.menu_info_item {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            ul {
              li {
                list-style: none;
                a {
                  color: rgb(118, 118, 118);
                  text-decoration: none;
                  display: block;
                  padding: 0.25rem 0;
                  font-size: small;
                  transition: 0.3s ease-in-out;
                  &:hover {
                    color: #000000;
                  }
                  &::before {
                    content: "- ";
                    margin-right: 0.25rem;
                  }
                }
              }
            }
          }
        }
      }

      //主選單顯示圖片---------
      nav.menu_img {
        width: 40%;
        position: relative;
        ol {
          list-style: none;
          li {
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            img {
              width: 300px;
            }
          }
        }
      }
    }
    //社群連結(RWD手機顯示)-------------------
    .social_link {
      display: none;
      width: 100%;
      padding: 1rem 0;
      height: 3.5rem;
      position: relative;
      a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        i {
          font-size: 1.5rem;
          color: rgb(165, 165, 165);
          transition: 0.5s ease-in-out;
        }
        &:hover i {
          color: #000000;
        }
      }
    }
    //訂房按鈕-------------------------------
    .bookingBtn {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 250px;
      border: #c8c8c8 1px solid;
      padding: 0.75rem 1rem;
      transition: 0.5s ease-in-out;
      .left {
        display: flex;
        align-items: center;
        i {
          margin-right: 0.75rem;
          color: #cb9d70;
          transition: 0.5s ease-in-out;
        }
        span {
          font-family: serif;
          font-size: 0.75rem;
          padding-top: 0.5rem;
          margin-left: 0.5rem;
        }
      }
      .right {
        i {
          margin-right: 0.5rem;
          transition: 0.5s ease-in-out;
        }
      }
      //hover效果
      &:hover {
        background-color: #cb9d70;
        color: white;
        i {
          color: white;
        }
        .right {
          i {
            margin-right: 0;
          }
        }
      }
    }
  }
}

//下方固定[立即訂房]按鈕-----------------------------------
div.fixed_booking {
  // display: none; //預設隱藏
  position: fixed;
  bottom: 10px;
  right: 30px;
  transform: translateY(50px); //預設往下位移
  transition: 0.5s ease-in-out;
  a {
    background-color: #cb9d70;
    text-decoration: none;
    color: white;
    padding: 0.75rem 2rem;
    i {
      margin-left: 1.5rem;
    }
  }
}

//RWD====================================================================================
@media screen and (max-width: 450px) {
}

@media screen and (max-width: 768px) {
  //隱藏[語言]按鈕&[線上訂房]按鈕
  header {
    // top header-----------------------------
    div.top_header {
      //隱藏[語言]按鈕
      div.right {
        display: none;
      }
    }
    // main header----------------------------
    div.main_header {
      //隱藏[線上訂房]按鈕
      div.right {
        display: none;
      }
    }
  }
  //下方固定[立即訂房]按鈕-----------------------------------
  div.fixed_booking {
    width: 100vw;
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    a {
      width: 100%;
      display: block;
      text-align: center;
      i {
        float: right;
      }
    }
  }
  //沒辦法調RWD直接用transform: scale(0.9)縮小
  main {
    section {
      transform: scale(0.9);
    }
    // banner-------------------------------
    section.banner {
      transform: scale(1);
      min-height: 50vh;
      img {
        min-height: 50vh;
      }
    }
    // 訂房區塊-------------------------------
    section.booking_area {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 850px) {
  main {
    // 訂房區塊-------------------------------
    section.booking_area {
      form {
        flex-direction: column;
        //訂房選擇區
        #bookingSelect {
          width: 100%;
          margin-bottom: 1.75rem;
        }
      }
    }
  }
}

/* 平板以上 */
@media screen and (max-width: 1180px) {
  header {
    // top header-----------------------------
    div.top_header {
      padding: 10px 40px;
    }
    // main header----------------------------
    div.main_header {
      padding: 10px 40px;
      div.right {
        // 主選單
        nav {
          display: none;
        }
      }
    }
  }
  main {
    // 訂房區塊-------------------------------
    section.booking_area {
      form {
        //訂房選擇區
        .booking_select {
          width: 70%;
          flex-wrap: wrap;
          // 住房日期
          .booking_date {
            width: 100%;
            border-right: none;
            margin-bottom: 1rem;
            .check_in,
            .check_out {
              width: 50%;
              .choose_date {
                justify-content: space-between;
              }
            }
          }
          // 人數與房數
          .booking_people,
          .booking_room {
            width: 50%;
            label {
              width: 100%;
            }
          }
        }
      }
    }
  }
  // 菜單展開-----------------------------------------------
  main.menu {
    .menu_container {
      padding: 0px;
      //上方按鈕-------------------------------
      .top_btn_area {
        max-height: 10vh;
        padding: 50px 50px 20px 50px;
        border-bottom: #b2b2b2 1px solid;
        position: relative;
        .left {
          //關閉按鈕
          .closeBtn {
            span {
              display: none;
            }
          }
          //logo (RWD手機顯示)
          .logo {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      //主選單---------------------------------
      main {
        max-height: 60vh;
        padding: 20px 50px;
        // 主選單 標題-------
        nav.menu_title {
          width: 100%;
          height: 100%;
          ol {
            li {
              height: 100%;
              display: flex;
              align-items: center;
              border-bottom: #b2b2b2 1px solid;

              a {
                padding: 0 1.5rem;
              }
            }
          }
        }
        // 主選單 顯示資訊-------
        nav.menu_info {
          display: none;
        }
        //主選單顯示圖片---------
        nav.menu_img {
          display: none;
        }
      }
      //社群連結(RWD手機顯示)-------------------
      .social_link {
        display: block;
      }
      //訂房按鈕-------------------------------
      .bookingBtn {
        margin: 0 50px;
        width: calc(100% - 100px);
      }
    }
  }
}

/* 超大螢幕樣式 */
@media screen and (min-width: 1400px) {
}
