@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", serif;
  background-color: rgb(254, 250, 247);
}

header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
header div.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b7f7f;
  color: white;
  padding: 10px 80px;
}
header div.top_header div.left {
  display: flex;
  align-items: center;
}
header div.top_header div.left i,
header div.top_header div.left a {
  color: white;
  font-size: 1rem;
  margin-right: 1.5rem;
  text-decoration: none;
}
@media screen and (max-width: 450px) {
  header div.top_header div.left i,
  header div.top_header div.left a {
    font-size: 0.75rem;
  }
}
header div.top_header div.right div.languageBtn .default {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header div.top_header div.right div.languageBtn .default span {
  font-size: 1rem;
  margin-right: 0.5rem;
}
header div.top_header div.right div.language {
  position: fixed;
  right: 60px;
  top: 0px;
  background-color: #f7f7f7;
}
header div.top_header div.right div.language a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 45px;
}
header div.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: black;
  padding: 30px 80px;
}
header div.main_header div.left {
  display: flex;
  align-items: center;
}
header div.main_header div.left div.menu {
  width: 40px;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
header div.main_header div.left div.menu span.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  transition: 0.5s ease-in-out;
}
header div.main_header div.left div.menu span.line::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1.5px;
  background: black;
  top: -10px;
  left: 0;
  transition: 0.5s ease-in-out;
}
header div.main_header div.left div.menu span.line::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background: black;
  top: 10px;
  right: 0;
  transition: 0.5s ease-in-out;
}
header div.main_header div.left div.menu:hover span.line::before, header div.main_header div.left div.menu:hover span.line::after {
  width: 100%;
}
header div.main_header div.left div.logo {
  margin-left: 80px;
}
header div.main_header div.left div.logo a {
  display: block;
  width: 180px;
  height: 35px;
}
header div.main_header div.left div.logo a img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 580px) {
  header div.main_header div.left div.logo {
    margin-left: 40px;
  }
}
header div.main_header div.right {
  display: flex;
  align-items: center;
}
header div.main_header div.right nav ul {
  display: flex;
  list-style: none;
}
header div.main_header div.right nav ul li {
  margin-right: 1.5rem;
}
header div.main_header div.right nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
header div.main_header div.right nav ul li div.line_area {
  margin-top: 0.25rem;
  position: relative;
  width: 100%;
  height: 2px;
}
header div.main_header div.right nav ul li div.line_area div.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background: #cb9d70;
  transition: 0.5s ease-in-out;
}
header div.main_header div.right nav ul li:hover div.line_area div.line {
  width: 100%;
}
header div.main_header div.right button.bookingBtn {
  background-color: #8b7f7f;
  color: white;
  border: none;
  padding: 0.75rem 4rem;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  margin-left: 1rem;
}
header div.main_header div.right button.bookingBtn:hover {
  background-color: white;
  color: black;
  outline: black 1px solid;
}

main section.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.booking_area {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: space-around;
}
main section.booking_area form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  font-family: "Montserrat", "Microsoft JhengHei", sans-serif;
}
main section.booking_area form .booking_date {
  display: flex;
  border-right: 1px solid gray;
}
main section.booking_area form .booking_date label span {
  color: gray;
}
main section.booking_area form .booking_date .check_in,
main section.booking_area form .booking_date .check_out {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
main section.booking_area form .booking_date .check_in .choose_date,
main section.booking_area form .booking_date .check_out .choose_date {
  display: flex;
  align-items: center;
  position: relative;
}
main section.booking_area form .booking_date .check_in .choose_date p,
main section.booking_area form .booking_date .check_out .choose_date p {
  font-size: 2rem;
  margin-right: 3rem;
}
main section.booking_area form .booking_date .check_in .choose_date i,
main section.booking_area form .booking_date .check_out .choose_date i {
  cursor: pointer;
}
main section.booking_area form .booking_date .check_in .choose_date input,
main section.booking_area form .booking_date .check_out .choose_date input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
}
main section.booking_area form .booking_people,
main section.booking_area form .booking_room {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}
main section.booking_area form .booking_people.booking_people,
main section.booking_area form .booking_room.booking_people {
  border-right: 1px solid gray;
}
main section.booking_area form .booking_people .choose_people,
main section.booking_area form .booking_people .choose_room,
main section.booking_area form .booking_room .choose_people,
main section.booking_area form .booking_room .choose_room {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.booking_area form .booking_people .choose_people p,
main section.booking_area form .booking_people .choose_room p,
main section.booking_area form .booking_room .choose_people p,
main section.booking_area form .booking_room .choose_room p {
  font-size: 2rem;
}
main section.booking_area form .booking_people .choose_people i,
main section.booking_area form .booking_people .choose_room i,
main section.booking_area form .booking_room .choose_people i,
main section.booking_area form .booking_room .choose_room i {
  cursor: pointer;
}
main section.booking_area form .bookingBtn {
  background-color: white;
  color: black;
  border: none;
  padding: 0.75rem 4rem;
  cursor: pointer;
  transition: 0.5s;
  outline: 1px solid black;
  margin-left: 1rem;
}
main section.booking_area form div.booking_select {
  display: flex;
}
@media screen and (max-width: 455px) {
  main section.booking_area form {
    padding: 1rem;
  }
  main section.booking_area form .booking_select .booking_date .check_in,
  main section.booking_area form .booking_select .booking_date .check_out {
    padding: 0 5px;
  }
  main section.booking_area form .booking_select .booking_people,
  main section.booking_area form .booking_select .booking_room {
    padding: 0 5px;
    border-right: none;
  }
  main section.booking_area form .bookingBtn {
    width: 90%;
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  main section.booking_area form .booking_select label {
    margin-bottom: 0.5rem;
  }
  main section.booking_area form .booking_select .booking_date .check_in .choose_date,
  main section.booking_area form .booking_select .booking_date .check_out .choose_date {
    border-bottom: #cacaca 1px solid;
  }
  main section.booking_area form .booking_select .booking_date .check_in .choose_date p,
  main section.booking_area form .booking_select .booking_date .check_out .choose_date p {
    font-size: 1.25rem;
    margin-right: 0;
  }
  main section.booking_area form .booking_select .booking_people,
  main section.booking_area form .booking_select .booking_room {
    border-right: none;
  }
  main section.booking_area form .booking_select .booking_people .choose_people,
  main section.booking_area form .booking_select .booking_people .choose_room,
  main section.booking_area form .booking_select .booking_room .choose_people,
  main section.booking_area form .booking_select .booking_room .choose_room {
    border-bottom: #cacaca 1px solid;
  }
  main section.booking_area form .booking_select .booking_people .choose_people p,
  main section.booking_area form .booking_select .booking_people .choose_room p,
  main section.booking_area form .booking_select .booking_room .choose_people p,
  main section.booking_area form .booking_select .booking_room .choose_room p {
    font-size: 1.25rem;
  }
}
main section.carousel_area {
  transform: scale(0.9);
}
main section.carousel_area div.title {
  text-align: center;
}
main section.carousel_area div.title p {
  padding: 150px 0;
  color: #5c5c5c;
}
main section.carousel_area div.title .title2 {
  position: relative;
  width: 100vw;
  padding-bottom: 100px;
  overflow: hidden;
}
main section.carousel_area div.title .title2 .title_gradient {
  position: relative;
}
main section.carousel_area div.title .title2 .title_gradient h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  color: #f6ece3;
  font-size: 5.4vw;
}
main section.carousel_area div.title .title2 .title_gradient div.gradient {
  width: 100%;
  height: 100px;
  background-color: rgb(254, 250, 247);
  position: absolute;
  top: 0;
  right: -100%;
}
main section.carousel_area div.title .title2 h2 {
  font-size: 3rem;
  letter-spacing: 0.25rem;
  font-weight: 500;
  position: absolute;
  top: 2.7vw;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 580px) {
  main section.carousel_area div.title p {
    padding: 50px 0;
  }
}
@media screen and (max-width: 950px) {
  main section.carousel_area div.title .title2 h1 {
    font-size: 3rem;
  }
  main section.carousel_area div.title .title2 h2 {
    font-size: 2.5rem;
  }
}
main section.carousel_area div.carousel_container {
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}
main section.carousel_area div.carousel_container .carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
main section.carousel_area div.carousel_container div.carousel {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item {
  margin: 0 1.5rem;
  scroll-snap-align: start;
  width: 100%;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item:first-child {
  padding-left: 3rem;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item:last-child {
  padding-right: 3rem;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item figure {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item figure img {
  transition: 0.5s ease-in-out;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item figure img:hover {
  transform: scale(1.1);
  filter: brightness(0.7);
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item div.carousel_text {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item div.carousel_text div.line_area {
  width: 1.5rem;
  height: 2px;
  margin: 0 0.75rem;
  display: flex;
  align-items: center;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item div.carousel_text div.line_area span.line {
  display: inline-block;
  width: 70%;
  height: 100%;
  background: #cb9d70;
  transition: 0.5s ease-in-out;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item div.carousel_text p {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  transition: 0.5s ease-in-out;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item:hover > div.carousel_text p {
  color: #cb9d70;
}
main section.carousel_area div.carousel_container div.carousel article.carousel_item:hover > div.carousel_text div.line_area span.line {
  width: 100%;
}
@media screen and (max-width: 450px) {
  main section.carousel_area div.carousel_container div.carousel {
    transform: scale(0.8);
  }
  main section.carousel_area div.carousel_container div.carousel article.carousel_item:first-child {
    padding-left: 0;
  }
  main section.carousel_area div.carousel_container div.carousel article.carousel_item:last-child {
    padding-right: 0;
  }
}
main section.carousel_area div.carousel_container div.scrollbar {
  margin-top: 100px;
  width: 90vw;
  height: 4px;
  background: #ddd;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
main section.carousel_area div.carousel_container div.scrollbar .scrollbar-thumb {
  width: 66.6666666667%;
  height: 100%;
  background: #333;
  transition: left 0.1s ease-out;
}
main section.room_area {
  margin: 150px 0;
  position: relative;
}
main section.room_area a.room_img_link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
main section.room_area a.room_img_link img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
}
main section.room_area h4 {
  text-align: center;
  margin-top: 2rem;
  font-weight: normal;
  font-size: 1.5rem;
}
main section.room_area a.more_room {
  margin-top: 1.75rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  text-decoration: none;
  cursor: pointer;
}
main section.room_area a.more_room p {
  color: rgb(74, 74, 74);
  transition: 0.5s;
  padding: 0.25rem 0;
  border-bottom: #000000 1px solid;
}
main section.room_area a.more_room p:hover {
  color: #000000;
}
main section.facility_area {
  margin: 150px 0;
  display: flex;
  justify-content: space-around;
  padding: 0 80px;
}
main section.facility_area a.facility_item {
  width: 380px;
  height: 100%;
  text-decoration: none;
  padding: 0 1rem;
}
main section.facility_area a.facility_item figure {
  height: 420px;
  overflow: hidden;
}
main section.facility_area a.facility_item figure img {
  min-width: 289px;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
main section.facility_area a.facility_item figure img:hover {
  transform: scale(1.1);
  filter: brightness(0.7);
}
main section.facility_area a.facility_item h3 {
  transition: 0.5s ease-in-out;
  margin: 1.5rem 0;
  font-weight: normal;
  font-size: 1.25rem;
  text-align: center;
  color: black;
}
main section.facility_area a.facility_item div.line_area {
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
}
main section.facility_area a.facility_item div.line_area .line {
  width: 3rem;
  height: 3px;
  background: #cb9d70;
}
main section.facility_area a.facility_item p {
  margin-top: 1rem;
  color: rgb(101, 101, 101);
  font-weight: 350;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 1.75rem;
}
main section.facility_area a.facility_item div.more {
  display: inline-block;
}
main section.facility_area a.facility_item div.more p {
  padding: 0.15rem 0;
  border-bottom: #333 1px solid;
  transition: 0.5s ease-in-out;
}
main section.facility_area a.facility_item div.more p:hover {
  color: #000000;
}
main section.facility_area a.facility_item:hover > h3 {
  color: #cb9d70;
}
@media screen and (max-width: 950px) {
  main section.facility_area {
    flex-direction: column;
    position: relative;
  }
  main section.facility_area a.facility_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
  }
  main section.facility_area a.facility_item div.line_area {
    width: 380px;
  }
  main section.facility_area a.facility_item p {
    width: 380px;
  }
  main section.facility_area a.facility_item div.more {
    width: 380px;
    margin-top: 1rem;
  }
  main section.facility_area a.facility_item div.more p {
    display: inline;
  }
}
main section.journey_area {
  padding-bottom: 150px;
  background-image: url("../../img/travel_BG.png");
  background-repeat: no-repeat; /* 禁止背景圖片重複 */
  background-position: bottom;
}
main section.journey_area div.title_area {
  text-align: center;
  padding: 130px 0 90px 0;
}
main section.journey_area div.title_area p {
  font-family: "Times New Roman", Times, serif;
  color: #d7a070;
}
main section.journey_area div.title_area h1 {
  font-size: 3rem;
}
main section.journey_area div.journey_container {
  padding-bottom: 100px;
  position: relative;
}
main section.journey_area div.journey_container div.journey_area div.journey {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
main section.journey_area div.journey_container div.journey_area div.journey article.journey_item {
  position: relative;
  overflow: hidden;
  height: 430px;
  margin: 0 1.5rem;
  min-width: 290px;
  transition: 0.5s ease-in-out;
}
main section.journey_area div.journey_container div.journey_area div.journey article.journey_item a img {
  width: 350px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.journey_area div.journey_container div.journey_area div.journey article.journey_item div.journey_text {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 1.75rem 1.5rem;
}
main section.journey_area div.journey_container div.journey_area div.journey article.journey_item div.journey_text div.text_top i {
  margin-right: 0.5rem;
}
main section.journey_area div.journey_container div.journey_area div.journey article.journey_item div.journey_text h4 {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
main section.journey_area div.journey_container div.journey_area div.journey article.journey_item:hover {
  height: 500px;
}
main section.journey_area div.journey_container div.journey_btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98vw;
  display: flex;
  justify-content: space-between;
}
main section.journey_area div.journey_container div.journey_btn button {
  background-color: transparent;
  color: rgb(95, 95, 95);
  border: none;
  padding: 0.75rem 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  outline: none;
}
main section.journey_area div.journey_container div.journey_btn button:hover {
  color: black;
}
main section.journey_area div.journey_container div.journey_btn button i {
  font-size: 1.5rem;
}

footer {
  background: url("../../img/footer_BG.jpg");
  background-size: 100% 100%;
  padding: 80px;
}
footer section.information_area {
  border-bottom: #565656 1px solid;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}
footer section.information_area img {
  padding: 0 20px;
}
footer section.information_area div.information {
  color: rgb(104, 104, 104);
  padding-right: 20vw;
}
footer section.information_area div.information p {
  padding: 0.5rem 0;
}
footer section.information_area a {
  color: white;
}
@media screen and (max-width: 1050px) {
  footer section.information_area {
    padding: 0;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  footer section.information_area div.information {
    margin: 20px 0;
    padding: 0;
    text-align: center;
  }
}
footer section.nav_area {
  padding: 80px 0 100px 0;
  border-bottom: #565656 1px solid;
}
footer section.nav_area nav ul.nav {
  display: flex;
  justify-content: space-between;
}
footer section.nav_area nav ul.nav li.nav_list {
  list-style: none;
}
footer section.nav_area nav ul.nav li.nav_list a.nav_title {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: 0.4s ease-in-out;
}
footer section.nav_area nav ul.nav li.nav_list a.nav_title:hover {
  color: #cb9d70;
}
footer section.nav_area nav ul.nav li.nav_list ul {
  margin-top: 1rem;
}
footer section.nav_area nav ul.nav li.nav_list ul li {
  list-style: none;
}
footer section.nav_area nav ul.nav li.nav_list ul li a {
  color: rgb(118, 118, 118);
  text-decoration: none;
  display: block;
  padding: 0.25rem 0;
  font-size: small;
  transition: 0.3s ease-in-out;
}
footer section.nav_area nav ul.nav li.nav_list ul li a:hover {
  color: #ffffff;
}
footer section.nav_area nav ul.nav li.nav_list ul li a::before {
  content: "- ";
  margin-right: 0.25rem;
}
@media screen and (max-width: 1050px) {
  footer section.nav_area nav ul.nav {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  footer section.nav_area nav ul.nav li.nav_list {
    margin: 0 20px;
  }
}
footer section.privacy_area {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section.privacy_area a,
footer section.privacy_area p {
  color: rgb(104, 104, 104);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
footer section.privacy_area a:hover {
  color: #ffffff;
}

main.menu {
  position: fixed;
  top: 0;
  z-index: 100;
  right: -100%;
}
main.menu .menu_container {
  width: 98.9vw;
  height: 100vh;
  padding: 50px;
  background: url("../../img/slideMenu_BG.jpg");
  background-repeat: no-repeat;
  background-size: 110% 100%;
  background-position: left;
}
main.menu .menu_container .top_btn_area {
  display: flex;
  justify-content: space-between;
  position: relative;
}
main.menu .menu_container .top_btn_area .left {
  display: flex;
}
main.menu .menu_container .top_btn_area .left .closeBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
main.menu .menu_container .top_btn_area .left .closeBtn span {
  font-size: 0.75rem;
}
main.menu .menu_container .top_btn_area .left .closeBtn i {
  font-size: 2rem;
  margin-left: 1rem;
}
main.menu .menu_container .top_btn_area .left .closeBtn:hover {
  color: #cb9d70;
}
main.menu .menu_container .top_btn_area .left .logo {
  display: none;
  margin-left: 80px;
}
main.menu .menu_container .top_btn_area .left .logo a {
  display: block;
  width: 180px;
  height: 35px;
}
main.menu .menu_container .top_btn_area .left .logo a img {
  width: 100%;
  height: 100%;
}
main.menu .menu_container .top_btn_area .languageBtn .default {
  display: flex;
  align-items: center;
  cursor: pointer;
}
main.menu .menu_container .top_btn_area .languageBtn .default span {
  font-size: 1rem;
  margin-right: 0.5rem;
}
main.menu .menu_container .top_btn_area .languageBtn .language {
  display: none;
  position: absolute;
  right: -20px;
  top: 0px;
  background-color: #f7f7f7;
}
main.menu .menu_container .top_btn_area .languageBtn .language a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 45px;
}
main.menu .menu_container main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  padding: 50px;
}
main.menu .menu_container main nav.menu_title {
  width: 30%;
}
main.menu .menu_container main nav.menu_title ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main.menu .menu_container main nav.menu_title ol li {
  margin: 0.25rem 0;
  width: 100%;
}
main.menu .menu_container main nav.menu_title ol li span {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-family: serif;
}
main.menu .menu_container main nav.menu_title ol li a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  transition: 0.3s ease-in-out;
  padding: 0 3rem;
}
main.menu .menu_container main nav.menu_title ol li:hover a {
  color: #cb9d70;
}
main.menu .menu_container main nav.menu_info {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
main.menu .menu_container main nav.menu_info ol {
  list-style: none;
}
main.menu .menu_container main nav.menu_info ol li.menu_info_item {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main.menu .menu_container main nav.menu_info ol li.menu_info_item ul li {
  list-style: none;
}
main.menu .menu_container main nav.menu_info ol li.menu_info_item ul li a {
  color: rgb(118, 118, 118);
  text-decoration: none;
  display: block;
  padding: 0.25rem 0;
  font-size: small;
  transition: 0.3s ease-in-out;
}
main.menu .menu_container main nav.menu_info ol li.menu_info_item ul li a:hover {
  color: #000000;
}
main.menu .menu_container main nav.menu_info ol li.menu_info_item ul li a::before {
  content: "- ";
  margin-right: 0.25rem;
}
main.menu .menu_container main nav.menu_img {
  width: 40%;
  position: relative;
}
main.menu .menu_container main nav.menu_img ol {
  list-style: none;
}
main.menu .menu_container main nav.menu_img ol li {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
main.menu .menu_container main nav.menu_img ol li img {
  width: 300px;
}
main.menu .menu_container .social_link {
  display: none;
  width: 100%;
  padding: 1rem 0;
  height: 3.5rem;
  position: relative;
}
main.menu .menu_container .social_link a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
main.menu .menu_container .social_link a i {
  font-size: 1.5rem;
  color: rgb(165, 165, 165);
  transition: 0.5s ease-in-out;
}
main.menu .menu_container .social_link a:hover i {
  color: #000000;
}
main.menu .menu_container .bookingBtn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: #c8c8c8 1px solid;
  padding: 0.75rem 1rem;
  transition: 0.5s ease-in-out;
}
main.menu .menu_container .bookingBtn .left {
  display: flex;
  align-items: center;
}
main.menu .menu_container .bookingBtn .left i {
  margin-right: 0.75rem;
  color: #cb9d70;
  transition: 0.5s ease-in-out;
}
main.menu .menu_container .bookingBtn .left span {
  font-family: serif;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
}
main.menu .menu_container .bookingBtn .right i {
  margin-right: 0.5rem;
  transition: 0.5s ease-in-out;
}
main.menu .menu_container .bookingBtn:hover {
  background-color: #cb9d70;
  color: white;
}
main.menu .menu_container .bookingBtn:hover i {
  color: white;
}
main.menu .menu_container .bookingBtn:hover .right i {
  margin-right: 0;
}

div.fixed_booking {
  position: fixed;
  bottom: 10px;
  right: 30px;
  transform: translateY(50px);
  transition: 0.5s ease-in-out;
}
div.fixed_booking a {
  background-color: #cb9d70;
  text-decoration: none;
  color: white;
  padding: 0.75rem 2rem;
}
div.fixed_booking a i {
  margin-left: 1.5rem;
}

@media screen and (max-width: 768px) {
  header div.top_header div.right {
    display: none;
  }
  header div.main_header div.right {
    display: none;
  }
  div.fixed_booking {
    width: 100vw;
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
  }
  div.fixed_booking a {
    width: 100%;
    display: block;
    text-align: center;
  }
  div.fixed_booking a i {
    float: right;
  }
  main section {
    transform: scale(0.9);
  }
  main section.banner {
    transform: scale(1);
    min-height: 50vh;
  }
  main section.banner img {
    min-height: 50vh;
  }
  main section.booking_area {
    transform: scale(1);
  }
}
@media screen and (max-width: 850px) {
  main section.booking_area form {
    flex-direction: column;
  }
  main section.booking_area form #bookingSelect {
    width: 100%;
    margin-bottom: 1.75rem;
  }
}
/* 平板以上 */
@media screen and (max-width: 1180px) {
  header div.top_header {
    padding: 10px 40px;
  }
  header div.main_header {
    padding: 10px 40px;
  }
  header div.main_header div.right nav {
    display: none;
  }
  main section.booking_area form .booking_select {
    width: 70%;
    flex-wrap: wrap;
  }
  main section.booking_area form .booking_select .booking_date {
    width: 100%;
    border-right: none;
    margin-bottom: 1rem;
  }
  main section.booking_area form .booking_select .booking_date .check_in,
  main section.booking_area form .booking_select .booking_date .check_out {
    width: 50%;
  }
  main section.booking_area form .booking_select .booking_date .check_in .choose_date,
  main section.booking_area form .booking_select .booking_date .check_out .choose_date {
    justify-content: space-between;
  }
  main section.booking_area form .booking_select .booking_people,
  main section.booking_area form .booking_select .booking_room {
    width: 50%;
  }
  main section.booking_area form .booking_select .booking_people label,
  main section.booking_area form .booking_select .booking_room label {
    width: 100%;
  }
  main.menu .menu_container {
    padding: 0px;
  }
  main.menu .menu_container .top_btn_area {
    max-height: 10vh;
    padding: 50px 50px 20px 50px;
    border-bottom: #b2b2b2 1px solid;
    position: relative;
  }
  main.menu .menu_container .top_btn_area .left .closeBtn span {
    display: none;
  }
  main.menu .menu_container .top_btn_area .left .logo {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  main.menu .menu_container main {
    max-height: 60vh;
    padding: 20px 50px;
  }
  main.menu .menu_container main nav.menu_title {
    width: 100%;
    height: 100%;
  }
  main.menu .menu_container main nav.menu_title ol li {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: #b2b2b2 1px solid;
  }
  main.menu .menu_container main nav.menu_title ol li a {
    padding: 0 1.5rem;
  }
  main.menu .menu_container main nav.menu_info {
    display: none;
  }
  main.menu .menu_container main nav.menu_img {
    display: none;
  }
  main.menu .menu_container .social_link {
    display: block;
  }
  main.menu .menu_container .bookingBtn {
    margin: 0 50px;
    width: calc(100% - 100px);
  }
}
@media screen and (min-width: 1540px) {
  header {
    --padding_w: calc((100vw - 1540px) / 2);
  }
  header div.top_header {
    padding: 10px var(--padding_w);
  }
  header div.top_header #language {
    position: fixed;
    right: var(--padding_w);
  }
  header div.main_header {
    padding: 10px var(--padding_w);
  }
  main.content,
  footer {
    max-width: 1540px;
    margin: 0 auto;
  }
  main.menu .menu_container {
    max-width: 60vw;
  }
  main section.carousel_area .title2 {
    max-width: 1540px;
    margin: 0 auto;
  }
  main section.carousel_area .title2 .title_gradient h1#gradient_text {
    font-size: 83.16px;
  }
  main section.carousel_area .title2 .title_gradient div.gradient {
    width: 100%;
    height: 100px;
    background-color: rgb(254, 250, 247);
    position: absolute;
    top: 0;
    right: -100%;
  }
  main section.room_area a.room_img_link img {
    max-width: 1540px;
  }
}/*# sourceMappingURL=style.css.map */