* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", serif;
  background-color: rgb(254, 250, 247);
}
header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  // top header-----------------------------
  div.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b7f7f;
    color: white;
    padding: 10px 80px;
    div.left {
      display: flex;
      align-items: center;
      i,
      a {
        color: white;
        font-size: 1rem;
        margin-right: 1.5rem;
        text-decoration: none;
      }
    }
    div.right {
      .default {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          font-size: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  // main header----------------------------
  div.main_header {
    display: flex;
    // flex: 2 8;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: black;
    padding: 30px 80px;
    div.left {
      display: flex;
      align-items: center;
      //   菜單按鈕
      div.menu {
        width: 40px;
        height: 24px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span.line {
          width: 100%;
          height: 2px;
          background: black;
        }
      }
      //   logo
      div.logo {
        margin-left: 80px;
        a {
          display: block;
          width: 180px;
          height: 35px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    div.right {
      display: flex;
      align-items: center;
      // 主選單
      nav {
        ul {
          display: flex;
          list-style: none;
          li {
            margin-right: 1.5rem;
            a {
              text-decoration: none;
              color: black;
              font-size: 1rem;
            }
          }
        }
      }
      //   訂房按鈕
      button.bookingBtn {
        background-color: #8b7f7f;
        color: white;
        border: none;
        padding: 0.75rem 4rem;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
        margin-left: 1rem;
        &:hover {
          background-color: white;
          color: black;
          outline: black 1px solid;
        }
      }
    }
  }
}
main {
  // banner-------------------------------
  section.banner {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // 訂房區塊-------------------------------
  section.booking_area {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-around;
    form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem 0;
      font-family: "Montserrat", "Microsoft JhengHei", sans-serif;

      // 標題
      label {
        span {
          color: gray;
        }
      }

      // 住房日期
      .booking_date {
        display: flex;
        border-right: 1px solid gray;

        .check_in,
        .check_out {
          display: flex;
          flex-direction: column;
          padding: 0 2rem;

          .choose_date {
            display: flex;
            align-items: center;

            p {
              font-size: 2rem;
              margin-right: 3rem;
            }
          }
        }
      }

      // 人數與房數
      .booking_people,
      .booking_room {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        &.booking_people {
          border-right: 1px solid gray;
        }

        .choose_people,
        .choose_room {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 2rem;
          }
        }
      }

      // 訂房按鈕
      .bookingBtn {
        background-color: white;
        color: black;
        border: none;
        padding: 0.75rem 4rem;
        cursor: pointer;
        transition: 0.5s;
        outline: 1px solid black;
        margin-left: 1rem;
      }
    }
  }
  //輪播區塊-------------------------------
  section.carousel_area {
    transform: scale(0.9);
    // 文字標題區
    div.title {
      text-align: center;
      p {
        padding: 150px 0;
      }
      .title2 {
        position: relative;
        width: 100vw;
        padding-bottom: 100px;
        overflow: hidden;
        h1 {
          font-family: Times, "Times New Roman", Georgia, serif;
          color: #f6ece3;
          font-size: calc(100vw / 25 * 1.35);
        }
        h2 {
          font-size: 3rem;
          letter-spacing: 0.25rem;
          font-weight: 500;
          position: absolute;
          top: calc(100vw / 25 * 1.35 / 2);
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    // 輪播圖
    div.carousel_container {
      max-width: 100vw;
      position: relative;
      overflow: hidden;

      .carousel::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
      }

      //   輪播項目區
      div.carousel {
        display: flex;
        align-items: center;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */

        // 每一個輪播項目
        article.carousel_item {
          margin: 0 1.5rem;
          scroll-snap-align: start;
          width: 100%;

          &:first-child {
            padding-left: 3rem;
          }
          &:last-child {
            padding-right: 3rem;
          }

          //圖片
          figure {
            width: 100%;
            height: 550px;
            overflow: hidden;
            img {
              transition: 0.5s ease-in-out;
              &:hover {
                transform: scale(1.1);
                filter: brightness(0.7); //圖片變暗
              }
            }
          }
          div.carousel_text {
            display: flex;
            align-items: center;
            span.line {
              display: inline-block;
              width: 1.25rem;
              height: 2px;
              background: #8b7f7f;
              margin: 0 0.75rem;
            }
            p {
              font-size: 1.25rem;
              font-weight: 400;
              letter-spacing: 0.05rem;
            }
          }
        }
      }
      //   輪播scrollbar
      div.scrollbar {
        margin-top: 100px;
        width: 90vw;
        height: 4px;
        background: #ddd;
        //置中
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        .scrollbar-thumb {
          width: calc(100% / 6);
          height: 100%;
          background: #333;
          transition: left 0.1s ease-out;
        }
      }
    }
  }
  //房型展示-------------------------------
  section.room_area {
    margin: 150px 0;
    position: relative;
    a.room_img_link {
      position: relative;
      text-decoration: none;
      cursor: pointer;
      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
      }
    }
    h4 {
      text-align: center;
      margin-top: 2rem;
      font-weight: normal;
      font-size: 1.5rem;
    }
    a.more_room {
      margin-top: 1.75rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      text-decoration: none;
      cursor: pointer;
      p {
        color: rgb(74, 74, 74);
        transition: 0.5s;
        padding: 0.25rem 0;
        border-bottom: #000000 1px solid;
        &:hover {
          color: #000000;
        }
      }
    }
  }
  //設施展示-------------------------------
  section.facility_area {
    margin: 150px 0;
    display: flex;
    justify-content: space-around;
    padding: 0 5vw;
    a.facility_item {
      width: 31%;
      height: 100%;
      text-decoration: none;

      figure {
        width: 100%;
        height: 450px;
        overflow: hidden;
        img {
          transition: 0.5s ease-in-out;
          &:hover {
            transform: scale(1.1);
            filter: brightness(0.7); //圖片變暗
          }
        }
      }
      h3 {
        margin: 1.5rem 0;
        font-weight: normal;
        font-size: 1.5rem;
        text-align: center;
        color: black;
      }
      div.line_area {
        border-top: 1px solid #e0e0e0;
        display: flex;
        justify-content: center;
        .line {
          width: 3rem;
          height: 3px;
          background: #cb9d70;
        }
      }
      p {
        margin-top: 1rem;
        color: rgb(101, 101, 101);
        font-weight: 350;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        line-height: 1.75rem;
      }
      div.more {
        display: inline-block;
        p {
          padding: 0.15rem 0;
          border-bottom: #333 1px solid;
        }
      }
    }
  }
  //策畫行程-------------------------------
  section.journey_area {
    padding-bottom: 150px;
    // 背景圖
    background-image: url("../../img/travel_BG.png");
    background-repeat: no-repeat; /* 禁止背景圖片重複 */
    background-position: bottom;
    // 標題
    div.title_area {
      text-align: center;
      padding: 130px 0 90px 0;
      p {
        font-family: "Times New Roman", Times, serif;
        color: #d7a070;
      }
      h1 {
        font-size: 3rem;
      }
    }
    // 行程區
    div.journey_container {
      padding-bottom: 100px;
      div.journey_area {
        // 項目區
        div.journey {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: 90vw;
          height: 500px;
          display: flex;
          transform-origin: center;
          // 每一個項目
          article.journey_item {
            position: relative;
            overflow: hidden;
            width: calc(90vw / 4 - 1.5rem);
            height: 430px;
            margin: 0 1.5rem;

            // 圖片
            img {
              width: 350px;
              height: 500px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            // 文字
            div.journey_text {
              position: absolute;
              bottom: 0;
              color: white;
              padding: 1.75rem 1.5rem;
              div.text_top {
                i {
                  margin-right: 0.5rem;
                }
              }
              h4 {
                font-size: 1.25rem;
                margin-top: 0.25rem;
              }
            }

            transition: 0.5s ease-in-out;
            // 滑鼠移入效果
            &:hover {
              height: 500px;
            }
          }
        }
      }
    }
  }
}
footer {
  background: url("../../img/footer_BG.jpg");
  padding: 80px;
  //公司資訊-------------------------------
  section.information_area {
    border-bottom: #565656 1px solid;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    div.information {
      color: rgb(104, 104, 104);
      padding-right: 20vw;
      p {
        padding: 0.5rem 0;
      }
    }
    a {
      color: white;
    }
  }
  //導覽nav--------------------------------
  section.nav_area {
  }
  //隱私權政策-----------------------------
  section.privacy_area {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a,
    p {
      color: rgb(104, 104, 104);
      text-decoration: none;
      transition: 0.3s ease-in-out;
    }
    a:hover {
      color: #ffffff;
    }
  }
}
